
  
  <% unless user_signed_in? %><div>
    <h1>Paid up</h1>
  </div>
  <div>
    <%= link_to 'LOG IN', new_user_session_path %>
    <%= link_to 'SIGN UP', new_user_registration_path %>
  </div>
  <% end %>